<div class="container">
  <div>
    <img src="https://cdn-icons-png.flaticon.com/512/3500/3500833.png">
  </div>
  <div class="items">
    <div class="header">Your order has been sent successfully!!
    </div>
    <div class="item"> Thank you <b>{{ name }}</b> for visiting our store and looking forward to your future
      visits<br /></div>

    <div class="item">
      The total value of the amount <b>{{ totalPrice }}</b> and we will send you the invoice to your email</div>
    <div class="item"> Shipping usually takes 5 to 7 days, thank you for your patience<br /></div>

  </div>
</div>
